*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
}
header {
    background: grey;
    color: antiquewhite;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
header h1 {
    margin-bottom: 10px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
main section {
    background: white;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}
article {
    border: 1px solid #cccc;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
    
}